.main-div {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}
form {
}
.username {
}
input {
  padding: 10px 50px;
  margin: 10px;
}
.password {
}
.email {
}
.bod input {
  padding: 10px 70px;
}
.number {
}

.main-div {
  display: none;
}

.main-div.active {
  display: block;
}
